body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

button[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

.text-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #4caf50;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-button {
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  color: #3e8e41;
}

nav {
  background-color: #4caf50;
  text-align: center;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

li a {
  text-decoration: none;
  border: none;
  padding: 10%;
}

.fullscreen-page {
  width: 100vw;
  max-width: 400px;
  height: 90vh; /* Set the height to the viewport height */
  background-color: #f0f0f0; /* Example background color */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.tweet-feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 650px; /* Max height for the tweet feed container */
  overflow-y: scroll; /* Add vertical scroll */
  width:96vw;
}

.tweet-feed::-webkit-scrollbar {
  width: 0.5em; /* Width of the scrollbar */
}

.tweet-feed::-webkit-scrollbar-thumb {
  background-color: transparent; /* Make the thumb (draggable part) transparent */
}

.tweet {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  width: 88vw;
  max-width: 400px;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.tweet-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.username {
  font-weight: bold;
}

.timestamp {
  color: #999;
  font-size: 12px;
}

.tweet-content {
  font-size: 14px;
}

.bottom-navbar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
}